.home {
    width: 80rem;
    margin: -32rem 2rem 2rem 18rem;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
  }
  .alpha {
    background-color: #00b1fc;
    width: 2.90rem;
    margin: 0px -0.125rem 0.125rem 0.187rem;
    text-align: center;
    font-size: 0.81rem;
    border: 0.2px solid rgba(255, 255, 255, 0.884);
    cursor: pointer;
    padding: 0px 0px 0.375rem 0.437rem;
  }
  .human{
    background-color: #00b1fc;
    color: white;
    padding: 0.5rem;
    margin: -0.0625rem 0px -1.187rem -0.437rem
  }
  .alphabets {
    width: 75%;
    margin: 0.375rem 0px 0px 0.125rem;
    padding: -0.125rem 0.0625rem 0.0625rem 0.25rem;
    height: 1.31rem;
    font-size: 1rem;
    text-align: center;
    color: white;
  }
  .flex-container2 {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    align-items: center;
    margin-top: 0.5rem;
  }
  .flex-container2 > div {
    background-color: #ffffff;
    width: fit-content;
    line-height: 0.625rem;
  }
  .elm-dst1 {
    flex-grow: 0.3;
  }
  .elm-dst2 {
    flex-grow: 0.5;
  }
  .elm-dst3 {
    flex-grow: 0.5;
  }
  .elm-dst4 {
    flex-grow: 0.2;
  }
  .elm-dst5{
    flex-grow: 2;
  }
  .elm-dst6 {
    flex-grow: 6;
  }
  .button {
    border: none;
    padding: 0.687rem;
    color: white;
  }
  .form-text {
    font-size: 0.875rem;
    right: 0.5rem;
    top: 0.5rem;
    line-height: 1.875rem;
  }
  .input-frm {
    border: 0.5 solid rgba(0, 0, 0, 0.733);
    height: 2.125rem;
    width: 134%;
    right: 1rem;
  }
  .input-frm2 {
    border: 0.5 solid rgba(0, 0, 0, 0.733);
    height: 2rem;
    width: 75%;
    left: 9rem;;
  }
  .btn2 {
    width: 25%;
    left: 11.6rem;
    background-color: #00b1fc;
  }
  
  .note-user {
    text-align: left;
  }
  .btn1 {
    background-color: #69BA00;
    width: 94%;
    left: 7.625rem;
  }
  .font-family3{
    font-family: "Source Sans Pro", sans-serif;
  }
  .flex-container3 {
    display: flex;
    flex-wrap: wrap;
  }
  .emp-dir {
    width: 79.3%;
    border: 1px solid rgb(112 107 107 / 51%);
    margin-left: 18rem;

  }
 
  .alpha-search{
    width: 98.5%;
  }
  .filter-by{
    font-size: 1.125rem;
    top: 0.625rem;
    left: 11rem;
}


@media screen and (max-width: 51.25em) {
  .emp-dir {
    width: 65.5%;
    height: 9rem;
    border: 1px solid rgb(112 107 107 / 51%);
    margin-left: 18rem;
  }
}
/*1024 screen*/
@media screen and (max-width: 64em) {
  .emp-dir {
    width: 122.5%;
    height: 9rem;
    border: 1px solid rgb(112 107 107 / 51%);
    margin-left: 18rem;
  }
}

  /*mobile devices*/
@media screen and (max-width: 25.75em) {
  .emp-dir {
    position: relative;
    bottom: 64rem;
    width: 65.5%;
    height: 9rem;
    border: 1px solid rgb(112 107 107 / 51%);
    margin-left: 18rem;
  }
  .flex-container2 {
    display: flex;
    width: 50%;
    position: relative;
    top: -62rem;
    background-color: rgb(255, 255, 255);
    align-items: center;
  }
  .alpha-search {
    width: 98.5%;
    position: relative;
    left: 65rem;
    display: grid;
    bottom: 50rem;
}
.note-user {
  text-align: left;
  bottom: 62rem;
}
.input-frm {
  border: 0.5 solid rgba(0, 0, 0, 0.733);
  height: 5.125rem;
  width: 378%;
  right: 1rem;
  bottom: 48rem;
}
.btn1 {
  background-color: #69BA00;
  width: 94%;
  left: 2.625rem;
  bottom: 43rem;
}
.filter-by{
  visibility: hidden;
}
.input-frm2 {
  border: 0.5 solid rgba(0, 0, 0, 0.733);
  height: 2rem;
  width: 75%;
  bottom: 43rem;
  left: 3rem;
}
.btn2 {
  width: 110%;
  left: 7.6rem;
  bottom: 43rem;  
  background-color: #00b1fc;
}
.flex-container3 {
  display: flex;
  flex-wrap: wrap;
}
.elm-dst1 {
  flex-grow: 0;
}
.elm-dst2 {
  flex-grow: 0;
}
.elm-dst3 {
  flex-grow: 0;
}
.elm-dst4 {
  flex-grow: 0;
}
.elm-dst5{
  flex-grow: 0;
}
.elm-dst6 {
  flex-grow: 0;
}
.form-text{
  visibility: hidden;
}
.human{
  visibility: hidden;
}
.flex-container > div {
  visibility: hidden;
}
}

/*ipads and tablets*/
@media screen and (max-width:33.75em) {
  .emp-dir {
    width: 231.5%;
    height: 9rem;
    border: 1px solid white;
    margin-left: 18rem;
  }
}
/*extra large screens and tv's*/
@media screen and (width: 80em) {
  .emp-dir {
    width: 65.5%;
    height: 9rem;
    border: 1px solid rgb(112 107 107 / 51%);
    margin-left: 18rem;
  }
}

@media screen and (width: 120em) {
  .emp-dir {
    width: 65.5%;
    height: 9rem;
    border: 1px solid rgb(112 107 107 / 51%);
    margin-left: 18rem;
  }
}


