 .employee-image {
   width: 7rem;
   height: 5.75rem;
 }

 .card-details-color {
   color: #A4A3A3;
 }

 .cards-background-color {
   background-color: rgba(219, 218, 218, 0.753);
 }

 .employee-name {
   font-size: 1em;
   bottom: 5.5rem;
   left: 6.25rem;
   width: 68%;
 }

 .employee-designation {
   font-size: 0.8rem;
   bottom: 6.425rem;
   left: 6.25rem;
 }

 .employee-department {
   font-size: 0.8rem;
   bottom: 7.55rem;
   left: 6.31rem;
 }

 .social-icons {
   list-style: none;
   bottom: 8.6rem;
   left: 6rem;
 }

 .social-icon {
   display: inline;
   padding: 0.187rem;
 }

 .employee-details {
   width: 16.2rem;
   height: 5rem;
   text-align: left;
 }

 .cards {
   width: 100%;
   height: 6.375rem;
 }